$theme-colors: (
  'primary': #119859,
  'secondary': #70e6af1a,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #EB5757,
  'light': #c0ccda,
  'dark': #001738,
);
.webster{
  font-family: Merriweather;
}

// html{
//   font-family: 'SFProDisplay';
// }
@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
